/* MAIN
/////////////////////////////////
 */

@media screen and (max-width: 900px) {

    h2 {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 800px) {

    .logo {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    main h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 735px) {

    main div h2 {
        text-align: center;
    }
}

@media screen and (max-width: 713px) {

    .wrapper-header-1 .right {
        display: none;
    }

}

@media screen and (max-width: 655px) {
    
    .wrapper-header-2 ul li:nth-child(2) {
        display: none;
    }

    .wrapper-header-1 .left .sky,
    .wrapper-header-1 .middle .sky {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 560px) {

    .wrapper-header-2 {
        flex-direction: column;
    }

    .wrapper-header-2 div h1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 505px) {

    main div h2 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 368px) {

    .wrapper-header-1 .left .sky,
    .wrapper-header-1 .middle .sky {
        font-size: 1rem;
    }
}

@media screen and (max-width: 343px) {

    .wrapper-header-1 .middle {
        display: none;
    }

    .main-btn {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 343px) {

    .img-around {
        display: none;
    }
}

/* SECTION-1
/////////////////////////////////
 */
@media screen and (max-width: 1100px) {

    .row-1-left,
    .row-2-right,
    .row-3-left,
    .row-4-right,
    .row-5-left {
        position: relative;
        top: -50px;
    }

}

@media screen and (max-width: 1100px) {

    .section-1 {
        margin-bottom: -15px !important;
    }
}

@media screen and (max-width: 1025px) {

    .card:hover {
        transition: all 0.2s;
        transform: translateY(-2px);
    }
    .arrow1,
    .arrow2 {
        display: none;
    }

    .row-3 {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 960px) {

    .row-1,
    .row-2,
    .row-3,
    .row-4,
    .row-5 {
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .row-1,
    .row-3 {
        margin-bottom: 110px;
    }

    .row-3 {
        position: relative;
        top: -40px;
    }

    .row-4 {
        position: relative;
        top: -80px;
    }

    .row-5 {
        position: relative;
        top: -100px;
    }

    .row-2,
    .row-4 {
        margin-bottom: 20px;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 960px) {

    .section-1 {
        margin-bottom: 100px;
    }
}

/* SECTION-2
/////////////////////////////////
 */
@media screen and (max-width: 1200px) {

    .wrapper-section-2 .card5 {
        display: none;
    }
}

@media screen and (max-width: 1050px) {

    .card {
        min-width: 33%;
    }

}

@media screen and (max-width: 500px) {

    .card {
        min-width: 100%;
    }

    .wrapper-section-2 div h5 {
        font-size: 1.5rem;

    }
}

@media screen and (max-width: 321px) {

    .wrapper-section-2 div h5 {
        font-size: 1.2rem;
    }
}

/* FOOTER
/////////////////////////////////
 */
@media screen and (max-width: 1090px) {

    .footy-1,
    .footy-2 {
        margin-bottom: 100px;
    }

    .wrapper-footer {
        flex-wrap: wrap;
    }

    .footy {
        min-width: 40%;
        position: relative;
        left: 8%;
    }
}

@media screen and (max-width: 815px) {

    .section-2 {
        margin-top: -90px;
    }
}

@media screen and (max-width: 700px) {

    .footy {
        width: 27%;
    }
}

@media screen and (max-width: 625px) {

    .wrapper-footer {
        justify-content: center;
    }

    .footy-1 {
        display: none;
    }

    .footy {
        min-width: 60%;
        margin-bottom: 70px;
    }

    footer {
        margin-top: -50px;
    }

}

@media screen and (max-width: 600px) {

    .section-2 {
        margin-top: -50px;
    }
}

@media screen and (max-width: 425px) {

    .footy ul li {
        font-size: 1rem !important;
        line-height: 1rem;
    }

    .footy h6 {
        font-size: 1.2rem !important;
    }

    .par-footer {
        font-size: 0.6rem;
    }

    .footy-last {
        font-size: 0.6rem;
    }

    .icon-resp {
        font-size: 15px;
    }

    .copy {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 360px) {

    .footy {
        min-width: 70%;
        margin-bottom: 70px;
    }
}

/* CONTACT PAGE
/////////////////////////////////////////////////////////////////////////////////////////
 */
@media screen and (max-width: 1200px) {

    .content-wrapper {
        flex-direction: column;
        align-items: start;
    }

    .contact-left {
        min-width: 80%;
        margin: 0 auto;
    }

    .contact-right {
        min-width: 80%;
        margin: 0 auto;
        order: -1;
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 700px) {
    
    .input-2 {
        min-width: 100%;
    }

    .input-1 {
        min-width: 100%;
    }

    .contact-left {
        text-align: center;
    }
}

@media screen and (max-width: 550px) {

    .google {
        display: none;
    }
}

@media screen and (max-width: 375px) {

    form .btn-contact {
        font-size: 1rem;
        padding: 9px 28px;

    }
}

@media screen and (max-width: 320px) {

    .contact-right form h3 {
        font-size: 1.3rem;
    }
}

/* GALLERY
/////////////////////////////////////////////////////////////////////////////////////////
 */
@media screen and (max-width: 1050px) {

    .gallery .above h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {

    .gallery .above h3 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 800px) {

    .gallery .above h3 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 640px) {

    .gallery .above h3 {
        text-align: center;
    }
}

@media screen and (max-width: 850px) {

    .pic-wrapper>div {
        min-width: 49%;
    }
}

@media screen and (max-width: 600px) {

    .pic-wrapper>div {
        min-width: 99%;
        padding-top: 15px;
    }
}

@media screen and (max-width: 440px) {

    .above h3:after {
        left: 20%;
    }
}

/* ABOUT-US
/////////////////////////////////////////////////////////////////////////////////////////
 */
@media screen and (max-width: 950px) {

    .about-us-container {
        min-width: 98%;
        padding-bottom: 100px;
    }

    .stats {
        min-width: 98%;
    }

    .stats-row {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 425px) {

    .stats-icon img {
        min-width: 35px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */