@import url('./CSS-Reset.css');
@import url('./responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(0, 127, 111);
    background: radial-gradient(circle, rgba(0, 127, 111, 1) 0%, rgba(1, 61, 69, 1) 50%);
}

/* VARIABLES
///////////////////////////////
*/
:root {
    --mainColor: #001433;
    --secondColor: #00597F;
    --thirdColor: #00A9B6;
    --fourthColor: #6FFACC;
}

/* HEADER-1
///////////////////////////////
*/
.header-1 {
    width: 100%;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(54, 227, 198);
    background: linear-gradient(to top, rgb(38, 151, 132) 0%, rgb(24, 112, 117) 100%);
    border-bottom: 2px solid white;
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 2px solid white; */
}

.wrapper-header-1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    flex-wrap: wrap;
}


.icon {
    color: #001433;
    font-size: 1.2rem;
    margin-right: 5px;
    color: white;
}

.sky {
    font-size: 1rem;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 0.3px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.sky a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

/* HEADER-2
///////////////////////////////
*/
.header-2 {
    width: 100%;
    height: 5.5rem;
    background: linear-gradient(to bottom, rgb(38, 151, 132) 0%, rgb(24, 112, 117) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 0 8px white;
    /* margin-top: 3.4rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; */
}

.wrapper-header-2 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-header-2 h1 {
    cursor: pointer;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.h1 a {
    text-decoration: none;
}

.logo {
    width: 12%;
}

ul {
    display: flex;
    gap: 20px;
}

ul li {
    list-style: none;
}

nav ul li a::after {
    content: '';
    height: 1.5px;
    width: 0;
    background: white;
    display: block;
    margin-top: 3px;
    border-radius: 10px;
}

ul li a:hover::after {
    width: 100%;
    transition: 0.3s;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px #000000;
}

.wrapper-header-2 div h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.5rem;
    word-wrap: nowrap;
}

/* MAIN
///////////////////////////////
*/
main {
    width: 100%;
    height: 80%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.607)),
        url(./images/106.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.main-btn {
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 20%;
}

.main-btn div {
    width: 100%;
    height: 100%;
    padding: 14px 0 0 23px;
    background: linear-gradient(to bottom, rgb(38, 151, 132) 0%, rgb(24, 112, 117) 100%);
    border-radius: 10px;
    border: 1px solid white;
}

.phone-btn {
    text-decoration: none;
    color: white;
    font-size: 1.34rem;
    letter-spacing: 0.5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.phone-btn:hover {
    font-weight: bolder;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-around {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -2%;
}

.img-around img {
    border-radius: 100%;
}

/* SECTION-1
///////////////////////////////
*/

.section-1 {
    width: 100%;
    margin-bottom: 150px;
}

.wrapper-section-1 {
    width: 95%;
    margin: 50px auto;
    padding: 2rem;
}

.section-1 h3 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px #000000;
}

.row-1 {
    margin-bottom: 70px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    gap: 5%;
    margin-top: 20px;
}

.row-2,
.row-4 {
    margin-bottom: 100px;
}

.row-1-left,
.row-2-right,
.row-3-left,
.row-4-right,
.row-5-left {
    margin-top: 75px;
}

.row-1-left,
.row-2-left,
.row-3-left,
.row-4-left,
.row-5-left {
    flex: 45%;
    color: white;
}

.row-1-right,
.row-2-right,
.row-3-right,
.row-4-right,
.row-5-right {
    flex: 45%;
    color: white;
}


h4 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.par {
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
}

.arrow1 {
    position: relative;
    left: 50%;
    top: -10%;
    width: 35%;
    color: #6FFACC;
    width: 250px;
}

.arrow2 {
    transform: scaleX(-1);
    width: 250px;
    position: relative;
    left: 16%;
    top: -10%;
}

.img-service {
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-service:hover {
    box-shadow: 0 1px 6px 0 white;
}

/* SECTION-2
///////////////////////////////
*/
.section-2 {
    /* background: rgb(0, 89, 127);
    background: radial-gradient(circle, rgba(0, 89, 127, 1) 0%, rgba(27, 223, 191, 1) 100%); */
    margin-bottom: 100px;
    height: auto;
}

.wrapper-section-2 {
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    flex: calc((100% / 5) - 1.5rem);
    height: 320px;
    background: #16918b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(2, 2, 2, 0.372);
    border: 1px solid white;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: translateY(-20px);
}

.card h5 {
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 1px 4px #000000;
    letter-spacing: 0.5px;
}

.card h5 a {
    text-decoration: none;
    color: whitesmoke;
}

.card-icon {
    width: 60px;
}

/* FOOTER
///////////////////////////////
*/
footer {
    height: auto;
    background: rgb(1, 86, 85);
    background: linear-gradient(153deg, rgba(1, 86, 85, 1) 20%, rgba(1, 61, 69, 1) 33%, rgba(0, 127, 111, 1) 33%, rgba(1, 61, 69, 1) 64%);
    color: white;
    position: relative;
    padding-top: 60px;
    width: 100%;
    box-shadow: 4px 0 8px white;
}

.wrapper-footer {
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
}

.footy {
    flex: 25%;
    max-width: 25%;
}

.footer-img {
    margin-top: -10px;
    width: 40%
}

.footy ul {
    display: flex;
    flex-direction: column;
}

.footy ul li {
    font-size: 1.1rem;
    line-height: 1rem;
}

.footy ul li a {
    font-size: 1.1rem;
    text-shadow: 1px 1px 4px #000000;
    letter-spacing: 0.5px;
}

.footy ul li a:hover {
    color: #41eff5;
}


.footy ul li a i {
    font-size: 17px;
    margin-left: 5px;
}

.footy-last {
    line-height: 2.2rem;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 0.5px;
}

.footer-tel {
    text-decoration: none;
    color: white;
}

.par-footer {
    font-size: 1.2rem;
    line-height: 30px;
    text-shadow: 1px 1px 4px #000000;
    letter-spacing: 0.5px;
}

.near-footer {
    text-transform: uppercase;

    text-shadow: 2px 2px 8px #000000;
}

.footy h6 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-shadow: 1px 1px 4px #000000;
    letter-spacing: 0.5px;
}

.footy h6:after {
    content: '';
    display: block;
    position: relative;
    width: 55%;
    border: 0.1px solid white;
    margin-top: 1px;
}

.copy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 1px 1px 4px #000000;
    letter-spacing: 0.5px;
}

/* CONTACT-PAGE
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.content-wrapper {
    width: 95%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.contact-left {
    width: 45%;
}

.contact-right {
    width: 45%;
}

.contact-left h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px #000000;
}

.ahref {
    color: white;
    text-decoration: none;
}

.google iframe {
    width: 85%;
    height: 300px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308), 0 6px 20px 0 rgba(0, 0, 0, 0.308);
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.input-1 {
    flex: 100%;
}

.input-1 input {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
}

.input-2 {
    margin-right: 3px;
}

.input-2,
.input-3 {
    flex-grow: 2;
}

.input-2 input,
.input-3 input {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
}

.input-4 {
    width: 100%;
}

.input-4 textarea {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
}

.input-1 input::placeholder,
.input-2 input::placeholder,
.input-3 input::placeholder,
.input-4 textarea::placeholder {
    padding-left: 10px;
    opacity: 1;
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.input-4 textarea::placeholder {
    padding-top: 10px;
}

form h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 55px;
    text-shadow: 1px 1px 4px #000000;
}

.btn-contact {
    font-size: 1.5rem;
    padding: 0.35em 2.5em;
    margin-top: 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-shadow: 1px 1px 4px #000000;
    position: relative;
}

.btn-contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #007f77;
    z-index: -1;
    transition: 0.5s;
    border-radius: 7px;
}

.btn-contact:hover::before {
    width: 213px;
}

/* GALLERY
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.gallery {
    width: 100%;
}

.above {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.above h3 {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 4px #000000;
}

.above h3:after {
    content: '';
    display: block;
    position: relative;
    width: 60%;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 10px;
}

.pic-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 70px auto;
    gap: 1.8%;
    margin-bottom: 170px;
}

.pic-wrapper>div {
    flex: 32%;
    max-width: 32%;
    margin-top: 1.8%;
}

.pic-wrapper>div img {
    border-radius: 10px;
}

.pic-wrapper>div img {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.199), 0 6px 20px 0 rgba(255, 255, 255, 0.18);
}

.pic-wrapper>div img:hover {
    transform: scale(0.97);
    transition: all 0.4s;
    opacity: 0.9;
}

/* ABOUT-US
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.about-us {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    width: 95%;
    margin: 100px auto;
}

.under-header {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.763)), url(/images/1001.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.under-header h1 {
    color: white;
    font-size: 4rem;
    padding: 30px 0 0 85px;
    text-shadow: 1px 1px 4px #000000;
    font-style: italic;
}

.under-header h4 {
    color: white;
    padding: 20px 0 0 50px;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #000000;
}

.about-us-container {
    width: 52%;
}

.h3-wrapper h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 4px #000000;
}

.h3-wrapper h3:after {
    content: '';
    display: block;
    position: relative;
    width: 15%;
    border: 1px solid #ffffff;
    margin-top: 20px;
}

.hard {
    font-weight: 600;
}

.p-wrapper p {
    font-size: 1.2rem;
    color: white;
    padding-top: 20px;
    text-align: justify;
    letter-spacing: 0.3px;
    text-shadow: 1px 1px 4px #000000;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.stats-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stats-row p {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    text-shadow: 1px 1px 4px #000000;
}

.stats-icon img {
    width: 35px;
    color: #001433;
    box-shadow: 1px 1px 5px white;
}

.stats-icon img:hover {
    transition: all 1s;
    transform: rotateY(360deg);
}